[Desktop Entry]
Type=Service
Name=ICO Info
Name[af]=Ico Inligting
Name[ar]=معلومات ICO
Name[br]=Titouroù ICO
Name[ca]=Informació d'ICO
Name[cs]=ICO info
Name[cy]=Gwybodaeth ICO
Name[da]=ICO-info
Name[de]=ICO-Info
Name[el]=Πληροφορίες ICO
Name[eo]=ICO-informo
Name[es]=Info ICO
Name[et]=ICO info
Name[fa]=اطلاعات ICO
Name[fi]=ICO-tiedot
Name[fr]=Informations ICO
Name[gl]=Inf. ICO
Name[he]=מידע ICO
Name[hi]=ICO जानकारी
Name[hr]=ICO informacije
Name[hu]=ICO-jellemzők
Name[is]=ICO upplýsingar
Name[it]=Informazioni ICO
Name[ja]=ICO 情報
Name[kk]=ICO мәліметі
Name[km]=ព័ត៌មាន ICO
Name[lt]=ICO informacija
Name[ms]= Maklumat ICO
Name[nds]=ICO-Info
Name[ne]=ICO सूचना
Name[nl]=ICO-info
Name[nn]=ICO-info
Name[nso]=Tshedimoso ya ICO
Name[pa]=ICO ਜਾਣਕਾਰੀ
Name[pl]=Informacja o pliku ICO
Name[pt]=Informação do ICO
Name[pt_BR]=Informação sobre ICO
Name[ro]=Informaţii ICO
Name[ru]=Информация об ICO
Name[se]=ICO-dieđut
Name[sl]=Podatki o ICO
Name[sr]=ICO информације
Name[sr@Latn]=ICO informacije
Name[sv]=Ico-information
Name[ta]=ICO தகவல்
Name[tg]=Иттилоот оиди ICO
Name[th]=ข้อมูลแฟ้ม ICO
Name[tr]=ICO Bilgisi
Name[uk]=Інформація по ICO
Name[uz]=ICO haqida maʼlumot
Name[uz@cyrillic]=ICO ҳақида маълумот
Name[ven]=Mafhungo a ICO
Name[wa]=Informåcion sol imådjete ICO
Name[xh]=Ulwazi lwe ICO
Name[zh_CN]=ICO 信息
Name[zh_HK]=ICO 資訊
Name[zh_TW]=ICO 資訊
Name[zu]=Ulwazi lwe-ICO
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_ico
MimeType=image/x-ico
PreferredGroups=Technical
PreferredItems=Number,Resolution,Colors,ResolutionM,ColorsM
