[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=PDF Info
Name[af]=Pdf Inligting
Name[ar]=معلومات PDF
Name[ca]=Informació de PDF
Name[cs]=PDF info
Name[cy]=Gybodaeth PDF
Name[da]=PDF-info
Name[de]=PDF-Info
Name[el]=Πληροφορίες PDF
Name[eo]=PDF-informo
Name[es]=Info PDF
Name[et]=PDF info
Name[fi]=PDF tiedot
Name[fr]=Informations PDF
Name[gl]=Inf. PDF
Name[he]=מידע PDF
Name[hi]=PDF इन्फो
Name[hr]=PDF Informacije
Name[hu]=PDF-jellemzők
Name[it]=Informazioni PDF
Name[ja]=PDF情報
Name[lt]=PDF informacija
Name[nl]=PDF-info
Name[nn]=PDF-info
Name[nso]=Tshedimoso ya PDF
Name[pl]=Informacja o pliku PDF
Name[pt]=Informação do PDF
Name[pt_BR]=Informação sobre PDF
Name[ro]=Informaţii PDF
Name[ru]=Информация о PDF
Name[se]=PDF-dieđut
Name[sl]=Informacije o PDF
Name[sr]=PDF информације
Name[sv]=PDF-information
Name[ta]=PDF தகவல்
Name[th]=ข้อมูล PDF
Name[tr]=PDF Bilgisi
Name[uk]=Інформація про PDF
Name[uz]=PDF ҳақида маълумот
Name[ven]=Mafhungo a PDF
Name[wa]=Informåcion sol documint PDF
Name[xh]=PDF Ulwazi
Name[xx]=xxPDF Infoxx
Name[zh_CN]=PDF 信息
Name[zh_TW]=PDF 資訊
Name[zu]=Ulwazi lwe-PDF
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_pdf
MimeType=application/pdf
PreferredItems=Title,Author,Subject,Creator,Producer,CreationDate,CreationTime,ModificationDate,Keywords
