[Desktop Entry]
Type=Service
Name=PDF Info
Name[af]=Pdf Inligting
Name[ar]=معلومات PDF
Name[br]=Titouroù PDF
Name[ca]=Informació de PDF
Name[cs]=PDF info
Name[cy]=Gybodaeth PDF
Name[da]=PDF-info
Name[de]=PDF-Info
Name[el]=Πληροφορίες PDF
Name[eo]=PDF-informo
Name[es]=Info PDF
Name[et]=PDF info
Name[fa]=اطلاعات PDF
Name[fi]=PDF-tiedot
Name[fr]=Informations PDF
Name[gl]=Inf. PDF
Name[he]=מידע PDF
Name[hi]=PDF जानकारी
Name[hr]=PDF Informacije
Name[hu]=PDF-jellemzők
Name[is]=PDF upplýsingar
Name[it]=Informazioni PDF
Name[ja]=PDF 情報
Name[kk]=PDF мәліметі
Name[km]=ព័ត៌មាន PDF
Name[lt]=PDF informacija
Name[ms]=Maklumat PDF
Name[nds]=PDF-Info
Name[ne]=PDF सूचना
Name[nl]=PDF-info
Name[nn]=PDF-info
Name[nso]=Tshedimoso ya PDF
Name[pa]=PDF ਜਾਣਕਾਰੀ
Name[pl]=Informacja o pliku PDF
Name[pt]=Informação do PDF
Name[pt_BR]=Informação sobre PDF
Name[ro]=Informaţii PDF
Name[ru]=Информация о PDF
Name[se]=PDF-dieđut
Name[sl]=Podatki o PDF
Name[sr]=PDF информације
Name[sr@Latn]=PDF informacije
Name[sv]=PDF-information
Name[ta]=PDF தகவல்
Name[tg]=Иттилоот оиди PDF
Name[th]=ข้อมูลแฟ้ม PDF
Name[tr]=PDF Bilgisi
Name[uk]=Інформація про PDF
Name[uz]=PDF haqida maʼlumot
Name[uz@cyrillic]=PDF ҳақида маълумот
Name[ven]=Mafhungo a PDF
Name[wa]=Informåcion sol documint PDF
Name[xh]=PDF Ulwazi
Name[zh_CN]=PDF 信息
Name[zh_HK]=PDF 資訊
Name[zh_TW]=PDF 資訊
Name[zu]=Ulwazi lwe-PDF
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_pdf
MimeType=application/pdf
PreferredItems=Title,Subject,Author,Keywords,Creator,Producer,CreationDate,ModificationDate,Pages,Protected,Linearized,Version
