[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=XML Paper Specification Info
Name[ca]=Informació d'especificació del paper en XML
Name[de]=XML-Papierspezifikations-Info
Name[el]=Πληροφορίες καθορισμού χαρτιού XML
Name[es]=Información de especificación de papel XML
Name[ja]=XML 用紙仕様情報
Name[ko]=XML Paper 스펙 정보
Name[ne]=एक्सएमएल पेपर विशिष्टिकरण जानकारी
Name[nl]=XML-papierspecificatie-informatie
Name[pa]=XML ਪੇਪਰ ਹਦਾਇਤਾਂ ਜਾਣਕਾਰੀ
Name[pt]=Informação da Especificação de Papel em XML
Name[pt_BR]=Informação da Especificação de Papel em XML
Name[sv]=Information om XML-pappersspecifikation
Name[x-test]=xxXML Paper Specification Infoxx
Name[zh_CN]=XML 纸张规格信息
Name[zh_TW]=XML Paper 規格資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_xps
MimeType=application/vnd.ms-xpsdocument
PreferredItems=Title,Subject,Author,Keywords,Description,Thumbnail,ThumbnailDimensions
