[Desktop Entry]
Type=Service
Name=XML Paper Specification Info
Name[ca]=Informació d'especificació del paper en XML
Name[de]=XML-Papierspezifikations-Info
Name[el]=Πληροφορίες καθορισμού χαρτιού XML
Name[eo]=XML paperspecifa informo
Name[es]=Información de especificación de papel XML
Name[et]=XML Paper Specificationi info
Name[fi]=XML paperinmäärittelytiedot
Name[fr]=Document d'nformation sur les spécifications XML
Name[ga]=Sonraíocht Pháipéir XML
Name[gl]=Información da especificación de artigo XML
Name[hi]=एक्सएमएल पेपर विशेषता जानकारी
Name[hu]=XML papírmegadási jellemzők
Name[is]=XML pappírar - skilgreiningar
Name[it]=Informazioni PaperSpecification XML
Name[ja]=XML 用紙仕様情報
Name[km]=ព័ត៌មាន​ការ​បញ្ជាក់​ក្រដាស XML
Name[ko]=XML Paper 스펙 정보
Name[lv]=XML papīra specifikācijas informācija
Name[nb]=Info om XML papirspesifikasjon
Name[nds]=Info över de XML-Papeerangaven
Name[ne]=एक्सएमएल पेपर विशिष्टिकरण जानकारी
Name[nl]=XML-papierspecificatie-informatie
Name[nn]=XML Paper Specification-info
Name[pa]=XML ਪੇਪਰ ਹਦਾਇਤਾਂ ਜਾਣਕਾਰੀ
Name[pl]=Informacje o specyfikacji XML Paper
Name[pt]=Informação da Especificação de Papel em XML
Name[pt_BR]=Informações sobre XPS (XML Paper Specification)
Name[sl]=Podatki o XML Paper Specification
Name[sv]=Information om XML-pappersspecifikation
Name[th]=ข้อมูลกำหนดกระดาษ XML
Name[tr]=XML Kağıt Belirtme Bilgileri
Name[uk]=Інформація в XML про специфікації паперу
Name[x-test]=xxXML Paper Specification Infoxx
Name[zh_CN]=XML 纸张规格信息
Name[zh_TW]=XML Paper 規格資訊
X-KDE-ServiceTypes=KFilePlugin
X-KDE-Library=kfile_xps
MimeType=application/vnd.ms-xpsdocument;
PreferredItems=Title,Subject,Author,Keywords,Description,Thumbnail,ThumbnailDimensions
