[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=XBM Info
Name[el]=Πληροφορίες XBM
Name[fr]=Informations sur XBM
Name[x-test]=xxXBM Infoxx
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_xbm
MimeType=image/x-xbm
PreferredGroups=Technical
PreferredItems=Resolution
