[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=XBM Info
Name[ar]=معلومات XBM
Name[be]=Інфармацыя аб XBM
Name[bg]=XBM Информация
Name[cs]=XBM info
Name[da]=XBM-info
Name[de]=XBM-Info
Name[el]=Πληροφορίες XBM
Name[eo]=XBM-informo
Name[es]=Info XBM
Name[et]=XBM info
Name[fi]=XBM-tiedot
Name[fr]=Informations Xbme
Name[he]=מידע XBM
Name[hu]=XBM-jellemzők
Name[it]=Informazioni XBM
Name[ja]=XBM情報
Name[lt]=XBM informacija
Name[nn]=XBM-info
Name[pt]=Informação do XBM
Name[pt_BR]=Informação sobre XBM
Name[ro]=Informaţii XBM
Name[sl]=XBM informacije
Name[sv]=Xbm-information
Name[th]=ข้อมูล XBM
Name[tr]=XBM Bilgisi
Name[uk]=Інформація по XBM
Name[xh]=MAV Ulxbmzi
Name[xx]=xx
Name[zh_CN]=XBM 信息
Name[zu]=Ulxbmzi lwe XBM
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_xbm
MimeType=image/x-xbm
PreferredGrous=Technical
PreferredItems=Resolution
