[Desktop Entry]
Type=Service
Name=XBM Info
Name[af]=Xbm Inligting
Name[ar]=معلومات XBM
Name[br]=Titouroù XBM
Name[ca]=Informació d'XBM
Name[cs]=XBM info
Name[cy]=Gwybodaeth XBM
Name[da]=XBM-info
Name[de]=XBM-Info
Name[el]=Πληροφορίες XBM
Name[eo]=XBM-informo
Name[es]=Info XBM
Name[et]=XBM info
Name[fa]=اطلاعات XBM
Name[fi]=XBM-tiedot
Name[fr]=Informations sur XBM
Name[gl]=Inf. XBM
Name[he]=מידע XBM
Name[hi]=XBM जानकारी
Name[hr]=XBM Infoformacije
Name[hu]=XBM-jellemzők
Name[is]=XBM upplýsingar
Name[it]=Informazioni XBM
Name[ja]=XBM 情報
Name[kk]=XBM мәліметі
Name[km]=ព័ត៌មាន XBM
Name[lt]=XBM informacija
Name[ms]=Maklumat XBM
Name[nds]=XBM-Info
Name[ne]=XBM सूचना
Name[nl]=XBM-info
Name[nn]=XBM-info
Name[nso]=Tshedimoso ya XBM
Name[pa]=XBM ਜਾਣਕਾਰੀ
Name[pl]=Informacja o pliku XBM
Name[pt]=Informação do XBM
Name[pt_BR]=Informação sobre XBM
Name[ro]=Informaţii XBM
Name[ru]=Информация о XBM
Name[se]=XBM-dieđut
Name[sl]=Podatki o XBM
Name[sr]=XBM информације
Name[sr@Latn]=XBM informacije
Name[sv]=XBM-information
Name[ta]=XBM தகவல்
Name[tg]=Иттилоот оиди XBM
Name[th]=ข้อมูลแฟ้ม XBM
Name[tr]=XBM Bilgisi
Name[uk]=Інформація по XBM
Name[uz]=XBM haqida maʼlumot
Name[uz@cyrillic]=XBM ҳақида маълумот
Name[ven]=Mafhungo a XBM
Name[wa]=Informåcion sol imådje XBM
Name[xh]=Ulwazi lwe XBM
Name[zh_CN]=XBM 信息
Name[zh_HK]=XBM 資訊
Name[zh_TW]=XBM 資訊
Name[zu]=Ulwazi lwe-XBM
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_xbm
MimeType=image/x-xbm
PreferredGroups=Technical
PreferredItems=Resolution
