[Desktop Entry]
Type=Service
Name=PNG Info
Name[af]=Png Inligting
Name[ar]=معلومات PNG
Name[br]=Titouroù PNG
Name[ca]=Informació de PNG
Name[cs]=PNG info
Name[cy]=Gybodaeth PNG
Name[da]=PNG-info
Name[de]=PNG-Info
Name[el]=Πληροφορίες PNG
Name[eo]=PNG-informo
Name[es]=Info PNG
Name[et]=PNG info
Name[fa]=اطلاعات PNG
Name[fi]=PNG-tiedot
Name[fr]=Informations PNG
Name[gl]=Inf. PNG
Name[he]=מידע PNG
Name[hi]=PNG जानकारी
Name[hr]=PNG Informacije
Name[hu]=PNG-jellemzők
Name[is]=PNG upplýsingar
Name[it]=Informazioni PNG
Name[ja]=PNG 情報
Name[kk]=PNG мәліметі
Name[km]=ព័ត៌មាន PNG
Name[lt]=PNG informacija
Name[ms]=Maklumat PNG
Name[nds]=PNG-Info
Name[ne]=PNG सूचना
Name[nl]=PNG-Info
Name[nn]=PNG-info
Name[nso]=Tshedimoso ya PNG
Name[pa]=PNG ਜਾਣਕਾਰੀ
Name[pl]=Informacja o pliku PNG
Name[pt]=Informação do PNG
Name[pt_BR]= Informação sobre PNG
Name[ro]=Informaţii PNG
Name[ru]=Информация о PNG
Name[se]=PNG-dieđut
Name[sl]=Podatki o PNG
Name[sr]=PNG информације
Name[sr@Latn]=PNG informacije
Name[sv]=PNG-information
Name[ta]=PNG தகவல்
Name[tg]=Иттилоот оиди PNG
Name[th]=ข้อมูลแฟ้ม PNG
Name[tr]=PNG Bilgisi
Name[uk]=Інформація про PNG
Name[uz]=PNG haqida maʼlumot
Name[uz@cyrillic]=PNG ҳақида маълумот
Name[ven]=Mafhungo a PNG
Name[wa]=Informåcion sol imådje PNG
Name[xh]=PNG Ulwazi
Name[zh_CN]=PNG 信息
Name[zh_HK]=PNG 資訊
Name[zh_TW]=PNG 資訊
Name[zu]=Ulwazi lwe-PNG
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_png
MimeType=image/png
PreferredGroups=Comment,Technical
PreferredItems=Title,Author,Dimensions,BitDepth,ColorMode,Compression
