[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=PNG Info
Name[af]=png inligting
Name[ar]=معلومات PNG
Name[be]=Інфармацыя аб PNG
Name[bg]=PNG Информация
Name[da]=PNG-info
Name[de]=PNG-Info
Name[el]=Πληροφορίες PNG
Name[eo]=PNG-informo
Name[es]=Info PNG
Name[et]=PNG info
Name[fi]=PNG tiedot
Name[fr]=Informations PNG
Name[he]=מידע PNG
Name[hu]=PNG-jellemzők
Name[is]=PNG upplýsingar
Name[it]=Informazioni PNG
Name[ja]=PNG情報
Name[lt]=PNG informacija
Name[nb]=PNG-info
Name[nn]=PNG-info
Name[pl]=Informacja o pliku PNG
Name[pt]=Informação do PNG
Name[pt_BR]= Informações sobre PNG
Name[ro]=Informaţii PNG
Name[ru]=Просмотрщик PNG
Name[sl]=PNG informacije
Name[sv]=PNG-information
Name[th]=ข้อมูล PNG
Name[tr]=PNG Bilgisi
Name[uk]=Інформація про PNG
Name[ven]=Mafhungo a PNG
Name[vi]=Thông tin PNG
Name[xh]=PNG Ulwazi
Name[xx]=xx
Name[zh_CN]=PNG 信息
Name[zh_TW]=PNG 資訊
Name[zu]=Ulwazi lwe PNG
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_png
MimeType=image/png
PreferredGroups=Comment,Technical
PreferredItems=Title,Author,Resolution,Bitdepth,Color mode,Compression
