[Desktop Entry]
Type=Service
Name=XPM Info
Name[br]=Titouroù XPM
Name[ca]=Informació de XPM
Name[cs]=XPM info
Name[de]=XPM-Info
Name[el]=Πληροφορίες XPM
Name[eo]=XPM-informo
Name[es]=Información XPM
Name[et]=XPM info
Name[fa]=اطلاعات XPM
Name[fi]=XPM-tiedot
Name[fr]=Informations XPM
Name[gl]=Información XPM
Name[he]=מידע XPM
Name[hu]=XPM-jellemzők
Name[is]=XPM upplýsingar
Name[it]=Informazioni XPM
Name[ja]=XPM 情報
Name[kk]=XPM мәліметі
Name[km]=ព័ត៌មាន XPM
Name[lt]=XPM informacija
Name[ms]=Maklumat XPM
Name[nb]=XPM-info
Name[nds]=XPM-Info
Name[ne]=XPM सूचना
Name[nl]=XPM-info
Name[nn]=XPM-info
Name[pa]=XPM ਜਾਣਕਾਰੀ
Name[pl]=Informacja o pliku XPM
Name[pt]=Informação do XPM
Name[pt_BR]=Informações Sobre XPM
Name[ro]=Informaţii XPM
Name[ru]=Информация о XPM
Name[sl]=Podatki o XPM
Name[sr]=XPM информације
Name[sr@Latn]=XPM informacije
Name[sv]=XPM-information
Name[ta]=XPM தகவல்
Name[th]=ข้อมูลแฟ้ม XPM
Name[tr]=XPM Bilgisi
Name[uk]=Інформація про XPM
Name[uz]=XPM haqida maʼlumot
Name[uz@cyrillic]=XPM ҳақида маълумот
Name[zh_CN]=XPM 信息
Name[zh_HK]=XPM 資訊
Name[zh_TW]=XPM 資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_xpm
MimeType=image/x-xpm
PreferredGroups=xpmInfo
PreferredItems=Dimension
