[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=XPM Info
Name[af]=XPM Inligting
Name[ar]=معلومات XPM
Name[ca]=Informació d'XPM
Name[cs]=XPM info
Name[cy]=Gwybodaeth XPM
Name[da]=XPM-info
Name[de]=XPM-Info
Name[el]=Πληροφορίες XPM
Name[eo]=XPM-informo
Name[es]=Info XPM
Name[et]=XPM info
Name[fi]=XPM-tiedot
Name[fr]=Informations sur XPM
Name[gl]=Inf. XPM
Name[he]=מידע XPM
Name[hi]=XPM जानकारी
Name[hr]=XPM Infoformacije
Name[hu]=XPM-jellemzők
Name[is]=XPM upplýsingar
Name[it]=Informazioni XPM
Name[ja]=XPM情報
Name[lt]=XPM informacija
Name[nl]=XPM-info
Name[nn]=XPM-info
Name[nso]=Tshedimoso ya XPM
Name[pl]=Informacja o pliku XPM
Name[pt]=Informação do XPM
Name[pt_BR]=Informação sobre XPM
Name[ro]=Informaţii XPM
Name[ru]=Информация о XPM
Name[se]=XPM-dieđut
Name[sl]=Informacije o XPM
Name[sr]=XPM информације
Name[sr@Latn]=XPM informacije
Name[sv]=XPM-information
Name[ta]=XPM தகவல்
Name[tg]=Иттилоот оиди XPM
Name[tr]=XPM Bilgisi
Name[uk]=Інформація по XPM
Name[uz]=XPM ҳақида маълумот
Name[ven]=Mafhungo a XPM
Name[wa]=Informåcion sol imådje XPM
Name[xh]=Ulwazi lwe XPM
Name[zh_CN]=XPM 信息
Name[zh_TW]=XPM 資訊
Name[zu]=Ulwazi lwe-XPM
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_xpm
MimeType=image/x-xpm
PreferredGroups=xpmInfo
PreferredItems=Dimension
