[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=DirectDraw Surface Info
Name[ca]=Informació de superfície DirectDraw
Name[cs]=DirectDraw Surface info
Name[da]=DirectDraw overflade-info
Name[et]=DirectDraw Surface'i info
Name[fr]=Informations de surface DirectDraw
Name[hu]=DirectDraw felületinformáció
Name[is]=DirectDraw yfirborðs upplýsingar
Name[nl]=DirectDraw Surface-info
Name[pt]=Informação de Superfície DirectDraw
Name[pt_BR]=Informações Sobre Superfícies Direct Draw
Name[ro]=Informaţii Suprafaţă DirectDraw
Name[ru]=Сведения о поверхности DirectDraw
Name[sv]=Directdraw ytinformation
Name[ta]=நேரடி மேற்பரப்பு தகவல்
Name[tr]=DirectDraw Yüzey Bilgisi
Name[uk]=Інформація про поверхню DirectDraw
Name[xx]=xxDirectDraw Surface Infoxx
Name[zh_CN]=DirectDraw 表面信息
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_dds
MimeType=image/x-dds
PreferredGroups=Technical
PreferredItems=Dimensions,Depth,BitDepth,Type,ColorMode,Compression
