[Desktop Entry]
Type=Service
Name=DirectDraw Surface Info
Name[ca]=Informació de superfície DirectDraw
Name[cs]=DirectDraw Surface info
Name[da]=DirectDraw overflade-info
Name[de]=DirectDraw-Oberflächen-Info
Name[el]=Πληροφορίες επιφάνειας DirectDraw
Name[eo]=DirectDraw surfacinformo
Name[es]=Información de la primera vista de DirectDraw
Name[et]=DirectDraw Surface'i info
Name[eu]=DirectDraw Surface informazioa
Name[fa]=اطلاعات سطح DirectDraw
Name[fi]=DirectDraw pintatiedot
Name[fr]=Informations de surface DirectDraw
Name[ga]=Eolas faoi DirectDraw Surface
Name[gl]=Información de superficie de DirectDraw
Name[he]=מיגע אודות משטח DirectDraw
Name[hi]=डायरेक्ट-ड्रा सरफेस जानकारी
Name[hu]=DirectDraw felületinformáció
Name[is]=DirectDraw yfirborðs upplýsingar
Name[it]=Informazioni superficie DirectDraw
Name[ja]=DDS (DirectDraw Surface) 情報
Name[kk]=DirectDraw бедерінің мәлметі
Name[km]=ព័ត៌មាន​ផ្ទៃ​ខាង​ក្រៅ​អំពី DirectDraw
Name[ko]=DirectDraw 표면 정보
Name[lt]=DirectDraw Surface informacija
Name[lv]=DirectDraw virsmas informācija
Name[ms]=Maklumat Permukaan LukisTerus
Name[nb]=DirectDraw Overflate info
Name[nds]="DirectDraw"-Böversietinfo
Name[ne]=प्रत्यक्ष रेखाचित्र सतह सूचना
Name[nl]=DirectDraw Surface-info
Name[nn]=DirectDraw-overflateinfo
Name[pa]=DirectDraw ਸਰਫੇਸ ਜਾਣਕਾਰੀ
Name[pl]=Informacja o powierzchni DirectDraw
Name[pt]=Informação de Superfície do DirectDraw
Name[pt_BR]=Informações Sobre Superfícies Direct Draw
Name[ro]=Informaţii Suprafaţă DirectDraw
Name[ru]=Сведения о поверхности DirectDraw
Name[sk]=DirectDraw informácie o povrchu
Name[sl]=Podatki o površini DirectDraw
Name[sr]=Информације о DirectDraw површини
Name[sr@latin]=Informacije o DirectDraw površini
Name[sv]=Directdraw ytinformation
Name[ta]=நேரடி மேற்பரப்பு தகவல்
Name[th]=ข้อมูลแฟ้มพื้นผิว DirectDraw
Name[tr]=DirectDraw Yüzey Bilgisi
Name[uk]=Інформація про поверхню DirectDraw
Name[x-test]=xxDirectDraw Surface Infoxx
Name[zh_CN]=DirectDraw 表面信息
Name[zh_HK]=DirectDraw 表面資訊
Name[zh_TW]=DirectDraw Surface 資訊
X-KDE-ServiceTypes=KFilePlugin
X-KDE-Library=kfile_dds
MimeType=image/x-dds;
PreferredGroups=Technical
PreferredItems=Dimensions,Depth,BitDepth,Type,ColorMode,Compression
