[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=JPEG EXIF Info
Name[x-test]=xxJPEG EXIF Infoxx
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_jpeg
MimeType=image/jpeg
PreferredItems=User comment,CreationDate,CreationTime,Dimensions,Exposure time,JPEG quality,Comment
SupportsThumbnail=true
