[Desktop Entry]
Type=Service
Name=JPEG EXIF Info
Name[ar]=معلومات JPEG EXIF
Name[br]=Titouroù EXIF JPEG
Name[ca]=Informació de JPEG EXIF
Name[cs]=JPEG EXIF info
Name[cy]=Gwybodaeth JPEG EXIF
Name[da]=JPEG EXIF-info
Name[de]=JPEG EXIF-Info
Name[el]=Πληροφορίες JPEG EXIF
Name[eo]=JPEG-EXIF-informo
Name[es]=Info JPEG EXIF
Name[et]=JPEG EXIF info
Name[fa]=اطلاعات JPEG EXIF
Name[fi]=JPEG EXIF -tiedot
Name[fr]=Informations JPEG EXIF
Name[gl]=Inf. JPEG EXIF
Name[he]=מידע JPEG EXIF
Name[hi]=JPEG EXIF जानकारी
Name[hr]=JPEG EXIF Informacije
Name[hu]=JPEG EXIF-jellemzők
Name[is]=JPEG EXIF upplýsingar
Name[it]=Informazioni JPEG EXIF
Name[ja]=JPEG EXIF 情報
Name[kk]=JPEG EXIF мәліметі
Name[km]=ព័ត៌មាន JPEG EXIF
Name[lt]=JPEG EXIF informacija
Name[ms]=Maklumat JPEG EXIF
Name[nds]=JPEG-EXIF-Info
Name[ne]=JPEG EXIF सूचना
Name[nl]=JPEG EXIF-info
Name[nn]=JPEG EXIF-info
Name[nso]=TshedimoJPEG EXIF Info
Name[pa]=JPEG EXIF ਜਾਣਕਾਰੀ
Name[pl]=Informacja o pliku JPEG EXIF
Name[pt]=Informação do JPEG EXIF
Name[pt_BR]=Informação sobre JPEG EXIF
Name[ro]=Informaţii EXIF JPEG
Name[ru]=Информация о JPEG EXIF
Name[se]=JPEG EXIF-dieđut
Name[sl]=Podatki o JPEG EXIF
Name[sr]=JPEG EXIF информације
Name[sr@Latn]=JPEG EXIF informacije
Name[sv]=JPEG EXIF-information
Name[ta]=JPEG EXIF தகவல்
Name[tg]=Иттилоот оиди JPEG EXIF
Name[th]=ข้อมูลแฟ้ม JPEG EXIF
Name[tr]=JPEG EXIF Bilgisi
Name[uk]=Інформація про JPEG EXIF
Name[uz]=JPEG EXIF haqida maʼlumot
Name[uz@cyrillic]=JPEG EXIF ҳақида маълумот
Name[ven]=Mafhungo a JPEG EXIF
Name[wa]=Informåcion sol imådje JPEG EXIF
Name[xh]=Ulwazi lwe JPEG EXIF
Name[zh_CN]=JPEG EXIF 信息
Name[zh_HK]=JPEG EXIF 資訊
Name[zh_TW]=JPEG EXIF 資訊
Name[zu]=Ulwazi lwe-JPEG EXIF
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_jpeg
MimeType=image/jpeg
PreferredItems=User comment,CreationDate,CreationTime,Dimensions,Exposure time,JPEG quality,Comment
SupportsThumbnail=true
