[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=RAW Camera Files
Name[da]=RAW kamera-filer
Name[sv]=Obehandlade kamerafiler
ServiceTypes=KFilePlugin
MimeType=image/x-raw
X-KDE-Library=kfile_raw
CacheThumbnail=false
SupportsThumbnail=true
