[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-raw
Icon=image
Patterns=*.crw;*.CRW;*.cr2,*.CR2;*.nef;*.NEF;*.mrw;*.MRW;
Comment=RAW Camera File
Comment[da]=RAW kamera-fil
Comment[et]=Toores kaamerafail (RAW)
Comment[ga]=Comhad Ceamara RAW
Comment[sv]=Obehandlad kamerafil
