[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Truevision Targa Info
Name[x-test]=xxTruevision Targa Infoxx
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_tga
MimeType=image/x-targa
PreferredGroups=Technical
PreferredItems=Dimensions,BitDepth,ColorMode,Compression
