[Desktop Entry]
Type=Service
Name=Truevision Targa Info
Name[ar]=معلومات Truevision Targa
Name[br]=Gorretaol Truevision Targa
Name[ca]=Informació de Targa Truevision
Name[cs]=Truevision Targa info
Name[cy]=Gwybodaeth Truevision Targa
Name[da]=Truevision Targa-info
Name[de]=Truevision Targa-Info
Name[el]=Πληροφορίες Truevision Targa
Name[eo]=TARGA-informo
Name[es]=Info de Targa visión verdadera
Name[et]=Truevision Targa info
Name[fa]=اطلاعات Truevision Targa
Name[fi]=Truevision Targa -tiedot
Name[fr]=Informations Truevision
Name[gl]=Inf. Truevision Targa
Name[he]=מידע Truevision Targa
Name[hi]=ट्रू-विज़न टाग्रा जानकारी
Name[hr]=Truevision Targa Infomacije
Name[hu]=Truevision/Targa-jellemzők
Name[is]=Truevision Targa upplýsingar
Name[it]=Informazioni Truevision Targa
Name[ja]=TGA (Truevision Targa) 情報
Name[kk]=Truevision Targa мәліметі
Name[km]=ព័ត៌មាន Truevision Targa
Name[lt]=Truevision Targa informacija
Name[ms]=Maklumat Targa Truevision
Name[nb]=Truevision Targa-info
Name[nds]="Truevision Targa"-Info
Name[ne]=ट्रुभिजन टार्गा सूचना
Name[nl]=Truevision Targa-info
Name[nn]=Truevision Targa-info
Name[nso]=Tshedimoso ya Targa ya pono ya Nnete
Name[pl]=Informacja o pliku Truevision Targa
Name[pt]=Informação do Targa da Truevision
Name[pt_BR]=Informação sobre Truevision Targa
Name[ro]=Informaţii Targa Truevision
Name[ru]=Информация о Truevision Targa
Name[se]=Truevision Targa-dieđut
Name[sl]=Podatki o Truevision Targa
Name[sr]=Truevision Targa информације
Name[sr@Latn]=Truevision Targa informacije
Name[sv]=Information om Truevision Targa
Name[ta]=சரியான பார்வை தார்கா தகவல்
Name[tg]=Иттилоот оиди Truevision Targa
Name[th]=ข้อมูลแฟ้ม Truevision Targa
Name[tr]=Truevision Targa Bilgisi
Name[uk]=Інформація по Truevision Targa
Name[uz]=TGA haqida maʼlumot
Name[uz@cyrillic]=TGA ҳақида маълумот
Name[ven]=Mafhungo a Targa ya mbonalelo ya vhukuma
Name[wa]=Informåcion sol imådje Truevision Targa
Name[xh]=Ulwazi lwe Truevision Targa
Name[zh_CN]=Truevision Targa 信息
Name[zh_HK]=Truevision Targa 資訊
Name[zh_TW]=Truevision Targa 資訊
Name[zu]=Ulwazi lwe-Truevision Targa
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_tga
MimeType=image/x-targa
PreferredGroups=Technical
PreferredItems=Dimensions,BitDepth,ColorMode,Compression
