[Desktop Entry]
Type=Service
Name=PCX File Meta Info
Name[ar]=معلومات ملف PCX
Name[br]=Meta-titouroù ar restr PCX
Name[bs]=PCX meta-podaci
Name[ca]=Metainformació de fitxer PCX
Name[cs]=Metainformace obrázku typu PCX
Name[cy]=Meta-wybodaeth Ffeil PCX
Name[da]=PCX Fil-meta-info
Name[de]=PCX Metainformation
Name[el]=Μετα-πληροφορίες αρχείου PCX
Name[eo]=PCX-dosiera metainformo
Name[es]=Info meta de archivos PCX
Name[et]=PCX faili metainfo
Name[eu]=PCX fitxategi meta info
Name[fa]=فرااطلاعات پروندۀ PCX
Name[fi]=PCX-tiedoston metatiedot
Name[fr]=Méta Informations sur les fichiers PCX
Name[gl]=Inf. metaficheiro PCX
Name[he]=מידע PCX
Name[hi]=PCX फ़ाइल मेटा जानकारी
Name[hu]=PCX-jellemzők
Name[is]=PCX File Meta upplýsingar
Name[it]=Informazioni PCX
Name[ja]=PCX ファイルメタ情報
Name[kk]=PCX файлдың мета деректері
Name[km]=ព័ត៌មាន​មេតា​របស់​ឯកសារ PCX
Name[lt]=PCX bylos meta informacija
Name[ms]=Maklumat Meta Fail PCX 
Name[nb]=PCX-filmetainfo
Name[nds]=PCX-Metainfo
Name[ne]=PCX फाइल मेटा सूचना
Name[nl]=PCX meta-info
Name[nn]=PCX-filmetainfo
Name[pl]=Informacja o pliku PCX
Name[pt]=Meta-Informação do Ficheiro PCX
Name[pt_BR]=Informação sobre Meta Arquivo PCX
Name[ro]=Metainformaţii PCX
Name[ru]=Информация о метафайле PCX
Name[se]=PCX-filla metadieđut
Name[sk]=Meta-info o súbore PCX
Name[sl]=Meta podatki o PCX
Name[sr]=Мета информације PCX фајла
Name[sr@Latn]=Meta informacije PCX fajla
Name[sv]=Metainformation om PCX-fil
Name[ta]=PCX File Meta தகவல்
Name[tg]=Иттилоот оиди метафайли PCX
Name[th]=ข้อมูลเมตาแฟ้ม PCX
Name[tr]=PCX Dosya Bilgisi
Name[uk]=Метаінформація про файл PCX
Name[uz]=PCX-faylining meta-maʼlumoti
Name[uz@cyrillic]=PCX-файлининг мета-маълумоти
Name[wa]=Informåcion sol imådje PCX
Name[zh_CN]=PCX 文件元信息
Name[zh_HK]=PCX 檔案 Meta 資訊
Name[zh_TW]=PCX 檔案 Meta 資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_pcx
MimeType=image/x-pcx
PreferredGroups=General
PreferredItems=Dimensions,Resolution,BitDepth,Compression
