[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=PCX File Meta Info
Name[ar]=معلومات ملف PCX
Name[bs]=PCX meta-podaci
Name[ca]=Metainformació de fitxer PCX
Name[cs]=Metainformace obrázku typu PCX
Name[cy]=Meta-wybodaeth Ffeil PCX
Name[da]=PCX Fil-meta-info
Name[de]=PCX-Dateien Metainformation
Name[el]=Μετα-πληροφορίες αρχείου PCX
Name[es]=Info meta de archivos PCX
Name[et]=PCX faili metainfo
Name[eu]=PCX fitxategi meta info
Name[fi]=PCX-tiedoston metatiedot
Name[fr]=Méta Informations sur les fichiers PCX
Name[gl]=Inf. metaficheiro PCX
Name[he]=מידע PCX
Name[hi]=PCX फ़ाइल मेटा जानकारी
Name[hu]=PCX-jellemzők
Name[is]=PCX File Meta upplýsingar
Name[it]=Informazioni PCX
Name[ja]=PCXファイルメタ情報
Name[nb]=PCX-filmetainfo
Name[nl]=PCX meta-info
Name[nn]=PCX-filmetainfo
Name[pl]=Informacja o pliku PCX
Name[pt]=Meta-Informação do Ficheiro PCX
Name[pt_BR]=Informação sobre Meta Arquivo PCX
Name[ro]=Metainformaţii PCX
Name[ru]=Информация о метафайле PCX
Name[se]=PCX-filla metadieđut
Name[sk]=Meta-info o súbore PCX
Name[sl]=Meta informacije o PCX
Name[sr]=Мета информације PCX фајла
Name[sr@Latn]=Meta informacije PCX fajla
Name[sv]=Metainformation om PCX-fil
Name[ta]=PCX File Meta தகவல்
Name[tg]=Иттилоот оиди метафайли PCX
Name[tr]=PCX Dosya Bilgisi
Name[uk]=Мета-інформація про файл PCX
Name[uz]=PCX-файлининг мета-маълумоти
Name[wa]=Informåcion sol imådje PCX
Name[zh_CN]=PCX 文件元信息
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_pcx
MimeType=image/x-pcx
PreferredGroups=General
PreferredItems=Dimensions,Resolution,BitDepth,Compression
