[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=PostScript Info
Name[af]=postscript inligting
Name[ar]=معلومات PostScript
Name[be]=Інфармацыя аб PostScript
Name[bg]=PostScript Информация
Name[cs]=PostScript info
Name[de]=PostScript-Info
Name[el]=Πληροφορίες PostScript
Name[eo]=Postskriptinformo
Name[es]=Info PostScript
Name[et]=PostScript info
Name[fi]=PostScript-tiedot
Name[fr]=Informations PostScript
Name[he]=מידע PostScript
Name[hu]=PostScript-jellemzők
Name[is]=PostScript upplýsingar
Name[it]=Informazioni PostScript
Name[ja]=PostScript情報
Name[lt]=PostScript informacija
Name[lv]=Postscript Info
Name[nb]=PostScript-info
Name[nn]=PostScript-info
Name[pl]=Informacja o pliku PostScriptu
Name[pt]=Informação do PostScript
Name[pt_BR]=Informações sobre o Postscript
Name[ro]=Informaţii PostScript
Name[ru]=Просмотрщик PostScript
Name[sl]=Informacija o PostScriptu
Name[sv]=Postscript-information
Name[th]=ข้อมูลโพสต์สคริปต์
Name[tr]=PostScript Bilgisi
Name[uk]=Інформація про PostScript
Name[ven]=Mafhungo a mabammbiri a poso
Name[vi]=Thông tin PostScript
Name[xh]=Ulwazi Lwe PostScript
Name[xx]=xx
Name[zh_CN]=PostScript 信息
Name[zh_TW]=PostScript 資訊
Name[zu]=Ulwazi Lwesi PostSikripti
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_ps
MimeType=application/postscript;image/x-eps
PreferredItems=Title,Creator,Creation Date,For,Pages
