[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=PostScript Info
Name[ar]=معلومات PostScript
Name[be]=Інфармацыя аб PostScript
Name[bg]=PostScript Информация
Name[cs]=PostScript info
Name[de]=PostScript-Info
Name[es]=Info PostScript
Name[fi]=PostScript-tiedot
Name[fr]=Informations PostScript
Name[he]=מידע PostScript
Name[hu]=PostScript-jellemzők
Name[lt]=PostScript informacija
Name[lv]=Postscript Info
Name[nn]=PostScript-info
Name[pt]=Informação do PostScript
Name[pt_BR]=Informações sobre o Postscript
Name[ro]=Informaţii PostScript
Name[sv]=Postscript-information
Name[xh]=Ulwazi Lwe PostScript
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_ps
MimeType=application/postscript;image/x-eps
PreferredItems=Title
