[Desktop Entry]
Type=Service
Name=PostScript Info
Name[af]=Postscript Inligting
Name[ar]=معلومات PostScript
Name[br]=Procinfo PostScript
Name[ca]=Informació de PostScript
Name[cs]=PostScript info
Name[cy]=Gwybodaeth PostScript
Name[da]=PostScript-info
Name[de]=PostScript-Info
Name[el]=Πληροφορίες PostScript
Name[eo]=Postskriptinformo
Name[es]=Info PostScript
Name[et]=PostScript info
Name[fa]=اطلاعات PostScript
Name[fi]=PostScript-tiedot
Name[fr]=Informations PostScript
Name[gl]=Inf. PostScript
Name[he]=מידע PostScript
Name[hi]=पोस्टस्क्रिप्ट जानकारी
Name[hr]=Postscript informacije
Name[hu]=PostScript-jellemzők
Name[is]=PostScript upplýsingar
Name[it]=Informazioni PostScript
Name[ja]=PostScript 情報
Name[kk]=PostScript мәліметі
Name[km]=ព័ត៌មាន PostScript
Name[lt]=PostScript informacija
Name[lv]=Postscript Info
Name[ms]=Maklumat PostScript
Name[nb]=PostScript-info
Name[nds]=PostScript-Info
Name[ne]=पोष्टस्क्रिप्ट सूचना
Name[nl]=PostScript-info
Name[nn]=PostScript-info
Name[nso]=Tshedimoso ya PostScript
Name[pa]=PostScript ਜਾਣਕਾਰੀ
Name[pl]=Informacja o pliku PostScriptu
Name[pt]=Informação do PostScript
Name[pt_BR]=Informação sobre PostScript
Name[ro]=Informaţii PostScript
Name[ru]=Информация о PostScript
Name[se]=PostScript-dieđut
Name[sl]=Podatki o PostScriptu
Name[sr]=PostScript информације
Name[sr@Latn]=PostScript informacije
Name[sv]=Postscript-information
Name[ta]=முன் எழுத்தாக்க தகவல்
Name[tg]=Иттилоот оиди PostScript
Name[th]=ข้อมูลโพสต์สคริปต์
Name[tr]=PostScript Bilgisi
Name[uk]=Інформація про PostScript
Name[uz]=PostScript haqida maʼlumot
Name[uz@cyrillic]=PostScript ҳақида маълумот
Name[ven]=Mafhungo a mabammbiri a poso
Name[wa]=Informåcion sol documint PostScript
Name[xh]=Ulwazi Lwe PostScript
Name[zh_CN]=PostScript 信息
Name[zh_HK]=PostScript 資訊
Name[zh_TW]=PostScript 資訊
Name[zu]=Ulwazi Lwesi-PostScript
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_ps
MimeType=application/postscript;image/x-eps
PreferredItems=Title,Creator,CreationDate,For,Pages
