[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=GIF Info
Name[af]=Gif Inligting
Name[ar]=معلومات GIF
Name[ca]=Informació de GIF
Name[cs]=GIF info
Name[cy]=Gwybodaeth GIF
Name[da]=GIF-info
Name[de]=GIF-Info
Name[el]=Πληροφορίες GIF
Name[eo]=GIF-informo
Name[es]=Info GIF
Name[et]=GIF info
Name[fi]=GIF-tiedot
Name[fr]=Informations GIF
Name[gl]=Inf. Gif
Name[he]=מידע GIF
Name[hi]=GIF जानकारी
Name[hr]=GIF Informacije
Name[hu]=GIF-jellemzők
Name[is]=GIF upplýsingar
Name[it]=Informazioni GIF
Name[ja]=GIF情報
Name[lt]=GIF informacija
Name[nl]=GIF-info
Name[nn]=GIF-info
Name[nso]=Tshedimoso ya GIF
Name[pl]=Informacja o pliku GIF
Name[pt]=Informação do GIF
Name[pt_BR]=Informação sobre GIF
Name[ro]=Informaţii GIF
Name[ru]=Информация о GIF
Name[se]=GIF-dieđut
Name[sl]=Informacije o GIF
Name[sr]=GIF информације
Name[sr@Latn]=GIF informacije
Name[sv]=Gif-information
Name[ta]=GIF தகவல்
Name[tg]=Иттилоот оиди GIF
Name[tr]=GIF Bilgisi
Name[uk]=Інформація по GIF
Name[uz]=GIF ҳақида маълумот
Name[ven]=Mafhungo a GIF
Name[wa]=Informåcion sol imådje GIF
Name[xh]=Ulwazi lwe GIF
Name[zh_CN]=GIF 信息
Name[zh_TW]=GIF 資訊
Name[zu]=Ulwazi lwe-GIF
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_gif
MimeType=image/gif
PreferredItems=Comment,Resolution
