[Desktop Entry]
Type=Service
Name=GIF Info
Name[af]=Gif Inligting
Name[ar]=معلومات GIF
Name[br]=Titouroù GIF
Name[ca]=Informació de GIF
Name[cs]=GIF info
Name[cy]=Gwybodaeth GIF
Name[da]=GIF-info
Name[de]=GIF-Info
Name[el]=Πληροφορίες GIF
Name[eo]=GIF-informo
Name[es]=Info GIF
Name[et]=GIF info
Name[fa]=اطلاعات GIF
Name[fi]=GIF-tiedot
Name[fr]=Informations GIF
Name[ga]=Eolas faoi GIF
Name[gl]=Inf. Gif
Name[he]=מידע GIF
Name[hi]=GIF जानकारी
Name[hr]=GIF Informacije
Name[hu]=GIF-jellemzők
Name[is]=GIF upplýsingar
Name[it]=Informazioni GIF
Name[ja]=GIF 情報
Name[kk]=GIF мәліметі
Name[km]=ព័ត៌មាន GIF
Name[lt]=GIF informacija
Name[ms]=Maklumat GIF
Name[nds]=GIF-Info
Name[ne]=GIF सूचना
Name[nl]=GIF-info
Name[nn]=GIF-info
Name[nso]=Tshedimoso ya GIF
Name[pa]=GIF ਜਾਣਕਾਰੀ
Name[pl]=Informacja o pliku GIF
Name[pt]=Informação do GIF
Name[pt_BR]=Informação sobre GIF
Name[ro]=Informaţii GIF
Name[ru]=Информация о GIF
Name[se]=GIF-dieđut
Name[sl]=Podatki o GIF
Name[sr]=GIF информације
Name[sr@Latn]=GIF informacije
Name[sv]=Gif-information
Name[ta]=GIF தகவல்
Name[tg]=Иттилоот оиди GIF
Name[th]=ข้อมูลแฟ้ม GIF
Name[tr]=GIF Bilgisi
Name[uk]=Інформація по GIF
Name[uz]=GIF haqida maʼlumot
Name[uz@cyrillic]=GIF ҳақида маълумот
Name[ven]=Mafhungo a GIF
Name[wa]=Informåcion sol imådje GIF
Name[xh]=Ulwazi lwe GIF
Name[zh_CN]=GIF 信息
Name[zh_HK]=GIF 資訊
Name[zh_TW]=GIF 資訊
Name[zu]=Ulwazi lwe-GIF
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_gif
MimeType=image/gif
PreferredItems=Comment,Resolution
