[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=BMP Info
Name[ar]=معلومات BMP
Name[be]=Інфармацыя аб BMP
Name[bg]=BMP Информация
Name[cs]=BMP info
Name[da]=BMP-info
Name[de]=BMP-Info
Name[el]=Πληροφορίες BMP
Name[eo]=BMP-informo
Name[es]=Info BMP
Name[et]=BMP info
Name[fi]=BMP-tiedot
Name[fr]=Informations Bmpe
Name[he]=מידע BMP
Name[hu]=BMP-jellemzők
Name[it]=Informazioni BMP
Name[ja]=BMP情報
Name[lt]=BMP informacija
Name[nn]=BMP-info
Name[pt]=Informação do BMP
Name[pt_BR]=Informação sobre BMP
Name[ro]=Informaţii BMP
Name[sl]=BMP informacije
Name[sv]=Bmp-information
Name[th]=ข้อมูล BMP
Name[tr]=BMP Bilgisi
Name[uk]=Інформація по BMP
Name[xh]=MAV Ulbmpzi
Name[xx]=xx
Name[zh_CN]=BMP 信息
Name[zu]=Ulbmpzi lwe BMP
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_bmp
MimeType=image/x-bmp
PreferredGrous=Technical
PreferredItems=Type,Resolution,Bitdepth,Compression
