[Desktop Entry]
Type=Service
Name=BMP Info
Name[af]=Bmp Inligting
Name[ar]=معلومات BMP
Name[br]=Titouroù BMP
Name[ca]=Informació de BMP
Name[cs]=BMP info
Name[cy]=Gwybodaeth BMP
Name[da]=BMP-info
Name[de]=BMP-Info
Name[el]=Πληροφορίες BMP
Name[eo]=BMP-informo
Name[es]=Info BMP
Name[et]=BMP info
Name[fa]=اطلاعات BMP
Name[fi]=BMP-tiedot
Name[fr]=Informations BMP
Name[ga]=Eolas faoi BMP
Name[gl]=Inf. BMP
Name[he]=מידע BMP
Name[hi]=BMP जानकारी
Name[hr]=BMP informacije
Name[hu]=BMP-jellemzők
Name[is]=BMP upplýsingar
Name[it]=Informazioni BMP
Name[ja]=BMP 情報
Name[kk]=BMP мәліметі
Name[km]=ព័ត៌មាន BMP
Name[lt]=BMP informacija
Name[ms]=Maklumat BMP
Name[nds]=BMP-Info
Name[ne]=BMP सूचना
Name[nl]=BMP-info
Name[nn]=BMP-info
Name[nso]=Tshedimoso ya BMP
Name[pa]=BMP ਜਾਣਕਾਰੀ
Name[pl]=Informacja o pliku BMP
Name[pt]=Informação do BMP
Name[pt_BR]=Informação sobre BMP
Name[ro]=Informaţii BMP
Name[ru]=Информация о BMP
Name[se]=BMP-dieđut
Name[sl]=Podatki o BMP
Name[sr]=BMP информације
Name[sr@Latn]=BMP informacije
Name[sv]=BMP-information
Name[ta]=BMP தகவல்
Name[tg]=Иттилоот оиди BMP
Name[th]=ข้อมูลแฟ้ม BMP
Name[tr]=BMP Bilgisi
Name[uk]=Інформація по BMP
Name[uz]=BMP haqida maʼlumot
Name[uz@cyrillic]=BMP ҳақида маълумот
Name[ven]=Mafhungo BMP
Name[wa]=Informåcion sol imådje BMP
Name[xh]=Ulwazi lwe BMP
Name[zh_CN]=BMP 信息
Name[zh_HK]=BMP 資訊
Name[zh_TW]=BMP 資訊
Name[zu]=Ulwazi lwe-BMP
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_bmp
MimeType=image/x-bmp
PreferredGroups=Technical
PreferredItems=Type,Resolution,Bitdepth,Compression
