[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=TIFF File Meta Info
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_tiff
MimeType=image/tiff
PreferredGroups=General
PreferredItems=Description,Copyright,Type,Dimensions,Bit depth,Compression,Software,Date/time
