[Desktop Entry]
Type=Service
Name=TIFF File Meta Info
Name[af]=Tiff Lêer Meta Inligting
Name[ar]=معلومات ملف TIFF
Name[br]=Meta-titouroù ar restr TIFF
Name[ca]=Metainformació de fitxer TIFF
Name[cs]=Metainformace obrázku typu TIFF
Name[cy]=Meta-wybodaeth Ffeil TIFF
Name[da]=TIFF Fil-meta-info
Name[de]=TIFF-Metainformation
Name[el]=Μετα-πληροφορίες αρχείου TIFF
Name[eo]=TIFF-informo
Name[es]=Info meta de archivos TIFF
Name[et]=TIFF faili metainfo
Name[eu]=TIFF fitxategi meta info
Name[fa]=فرااطلاعات پروندۀ TIFF
Name[fi]=TIFF-metatiedot
Name[fr]=Méta Informations sur les fichiers TIFF
Name[gl]=Inf. metaficheiro TIFF
Name[he]=מידע TIFF
Name[hi]=TIFF फ़ाइल मेटा जानकारी
Name[hr]=TIFF meta informacije
Name[hu]=TIFF-metajellemzők
Name[is]=TIFF File Meta upplýsingar
Name[it]=Informazioni TIFF
Name[ja]=TIFF ファイルメタ情報
Name[kk]=TIFF файлдың мета деректері
Name[km]=ព័ត៌មាន​មេតា​របស់​ឯកសារ TIFF
Name[lt]=TIFF bylos meta informacija
Name[ms]=TIFF Maklumat Meta Fail TIFF
Name[nb]=TIFF-filmetainfo
Name[nds]=TIFF-Metainfo
Name[ne]=TIFF फाइल मेटा सूचना
Name[nl]=TIFF File Meta-info
Name[nn]=TIFF-filmetainfo
Name[nso]=Tshedimoso ya Meta wa Faele ya TIFF
Name[pl]=Informacja o pliku TIFF
Name[pt]=Meta-Informação do Ficheiro TIFF
Name[pt_BR]=Informação sobre Meta Arquivo TIFF
Name[ro]=Metainformaţii TIFF
Name[ru]=Информация о метафайле TIFF
Name[se]=TIFF-filla metadieđut
Name[sk]=Meta-info o súbore TIFF
Name[sl]=Meta podatki o TIFF
Name[sr]=Мета информације TIFF фајла
Name[sr@Latn]=Meta informacije TIFF fajla
Name[sv]=Metainformation om TIFF-fil
Name[ta]=TIFF மீக்கோப்பு தகவல்
Name[tg]=Иттилоот оиди метафайли TIFF
Name[th]=ข้อมูลเมตาแฟ้ม TIFF
Name[tr]=TIFF Dosya Bilgisi
Name[uk]=Метаінформація про файл TIFF
Name[uz]=TIFF-faylining meta-maʼlumoti
Name[uz@cyrillic]=TIFF-файлининг мета-маълумоти
Name[ven]=Mafhungo a Meta faela ya TIFF
Name[wa]=Informåcion sol imådje TIFF
Name[xh]=Ulwazi lwe TIFF Ifayile Esembindini
Name[zh_CN]=TIFF 文件元信息
Name[zh_HK]=TIFF 檔案 Meta 資訊
Name[zh_TW]=TIFF 檔案 Meta 資訊
Name[zu]=Ulwazi Lwefayela yemeta ye-TIFF
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_tiff
MimeType=image/tiff
PreferredGroups=General,Scanner
PreferredItems=Description,Copyright,Type,Dimensions,Resolution,BitDepth,Compression,Software,DateTime,Artist,FaxPages,Make,Model
