[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=SGI Image (RGB)
Name[da]=SGI-billede (RGB)
Name[el]=Εικόνα SGI (RGB)
Name[es]=Imagen SGI (RGB)
Name[et]=SGI pildifail (RGB)
Name[fr]=Image SGI (RVB)
Name[hr]=SGI slika (RGB)
Name[pt_BR]=Imagem SGI (RGB)
Name[sv]=SGI-bild (RGB)
Name[ta]=எஸ்ஜிஐ படிமம் (RGB)
Name[xx]=xxSGI Image (RGB)xx
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_rgb
MimeType=image/x-rgb
PreferredGroups=Comment,Technical
PreferredItems=Dimensions,BitDepth,ColorMode,Compression,SharedRows,ImageName
