[Desktop Entry]
Type=Service
Name=SGI Image (RGB)
Name[ar]=صورة SGI (أحمر-أخضر-أزرق RGB)
Name[ast]=Imaxe SGI (RGB)
Name[bg]=SGI изображение (RGB)
Name[br]=Skeudenn SGI (RGB)
Name[bs]=SGI slika (RGB)
Name[ca]=Imatge SGI (RGB)
Name[ca@valencia]=Imatge SGI (RGB)
Name[cs]=SGI obrázek (RGB)
Name[cy]=Delwedd SGI (RGB)
Name[da]=SGI-billede (RGB)
Name[de]=SGI-Bild (RGB)
Name[el]=Εικόνα SGI (RGB)
Name[en_GB]=SGI Image (RGB)
Name[eo]=SGI bildo (RVB)
Name[es]=Imagen SGI (RGB)
Name[et]=SGI pildifail (RGB)
Name[eu]=SGI irudia (GBU)
Name[fa]=تصویر SGI (RGB)
Name[fi]=SGI-kuva (RGB)
Name[fr]=Image SGI (RVB)
Name[ga]=Íomhá SGI (RGB)
Name[gl]=Imaxe SGI (RGB)
Name[he]=תמונת SGI (RGB)
Name[hi]=एसजीआई छवि (आरजीबी)
Name[hne]=एसजीआई फोटू (आरजीबी)
Name[hr]=SGI-slika (RGB)
Name[hu]=SGI-kép (RGB)
Name[ia]=Imagine SGI (RGB)
Name[is]=SGI mynd (RGB)
Name[it]=Immagine SGI (RGB)
Name[ja]=SGI 画像 (RGB)
Name[kk]=SGI кескіні (RGB)
Name[km]=រូបភាព SGI (RGB)
Name[ko]=SGI 그림 (RGB)
Name[ku]=Wêneyên SGI (RGB)
Name[lt]=SGI paveikslėlis (RGB)
Name[lv]=SGI attēls (RGB)
Name[mr]=SGI प्रतिमा (RGB)
Name[ms]=Imej SGI (RGB)
Name[nb]=SGI-bilde (RGB)
Name[nds]=SGI-Bild (RGB)
Name[ne]=SGI छवि (RGB)
Name[nl]=SGI-afbeelding (RGB)
Name[nn]=SGI-bilete (RGB)
Name[pa]=SGI ਚਿੱਤਰ (RGB)
Name[pl]=Obrazek SGI (RGB)
Name[pt]=Imagem SGI (RGB)
Name[pt_BR]=Imagem SGI (RGB)
Name[ro]=Imagine SGI (RGB)
Name[ru]=Изображение SGI (RGB)
Name[se]=SGI-govva (RGB)
Name[si]=SGI පිංතූරය (RGB)
Name[sk]=SGI obrázok (RGB)
Name[sl]=Slika SGI (RGB)
Name[sr]=СГИ слика (РГБ)
Name[sr@ijekavian]=СГИ слика (РГБ)
Name[sr@ijekavianlatin]=SGI slika (RGB)
Name[sr@latin]=SGI slika (RGB)
Name[sv]=SGI-bild (RGB)
Name[ta]=எஸ்ஜிஐ படிமம் (RGB)
Name[tg]=Тасвироти SGI (RGB)
Name[th]=แฟ้มภาพ SGI (RGB)
Name[tr]=SGI Resmi (RGB)
Name[ug]=SGI سۈرەت (RGB)
Name[uk]=Зображення SGI (RGB)
Name[uz]=SGI-rasm (RGB)
Name[uz@cyrillic]=SGI-расм (RGB)
Name[vi]=Ảnh SGI (RGB)
Name[x-test]=xxSGI Image (RGB)xx
Name[zh_CN]=SGI 图像(RGB)
Name[zh_HK]=SGI 圖像 (RGB)
Name[zh_TW]=SGI 影像（RGB）
X-KDE-ServiceTypes=KFilePlugin
X-KDE-Library=kfile_rgb
MimeType=image/x-rgb;
PreferredGroups=Comment,Technical
PreferredItems=Dimensions,BitDepth,ColorMode,Compression,SharedRows,ImageName
