[Desktop Entry]
Type=Service
Name=PNM Info
Name[ar]=معلومات PNM
Name[br]=Titouroù PNM
Name[ca]=Informació de PNM
Name[cs]=PNM info
Name[cy]=Gybodaeth PNM
Name[da]=PNG-info
Name[de]=PNM-Info
Name[el]=Πληροφορίες PNM
Name[eo]=PNM-informo
Name[es]=Info PNM
Name[et]=PNM info
Name[fa]=اطلاعات PNM
Name[fi]=PNM-tiedot
Name[fr]=Informations PNM
Name[gl]=Inf. PNM
Name[he]=מידע PNM
Name[hi]=PNM जानकारी
Name[hu]=PNM-jellemzők
Name[is]=PNM upplýsingar
Name[it]=Informazioni PNM
Name[ja]=PNM 情報
Name[kk]=PNM мәліметі
Name[km]=ព័ត៌មាន PNM
Name[lt]=PNM informacija
Name[ms]=Maklumat PNM
Name[nb]=PNM-info
Name[nds]=PNM-Info
Name[ne]=PNM सूचना
Name[nl]=PNG-info
Name[nn]=PNM-info
Name[pa]=PNM ਜਾਣਕਾਰੀ
Name[pl]=Informacja o pliku PNM
Name[pt]=Informação do PNM
Name[pt_BR]=Informação sobre PNG
Name[ro]=Informaţii PNM
Name[ru]=Информация о PNM
Name[se]=PNM-dieđut
Name[sl]=Podatki o PNM
Name[sr]=PNM информације
Name[sr@Latn]=PNM informacije
Name[sv]=PNM-information
Name[ta]=PNM தகவல்
Name[tg]=Иттилоот оиди PNM
Name[th]=ข้อมูลแฟ้ม PNM
Name[tr]=PNM Bilgisi
Name[uk]=Інформація про PNM
Name[uz]=PNM haqida maʼlumot
Name[uz@cyrillic]=PNM ҳақида маълумот
Name[wa]=Informåcion sol imådje PNM
Name[zh_CN]=PNM 信息
Name[zh_HK]=PNM 資訊
Name[zh_TW]=PNM 資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_pnm
MimeType=image/x-portable-bitmap;image/x-portable-greymap;image/x-portable-pixmap
PreferredGroups=General
PreferredItems=Format,Dimensions,BitDepth,Comment
