[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=PNM Info
Name[el]=Πληροφορίες PNM
Name[fr]=Informations PNM
Name[x-test]=xxPNM Infoxx
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_pnm
MimeType=image/x-portable-bitmap;image/x-portable-greymap;image/x-portable-pixmap
PreferredGroups=General
PreferredItems=Format,Dimensions,BitDepth,Comment
