[Desktop Entry]
Type=Service
Name=PNM Info
Name[ar]=معلومات PNM
Name[ast]=Info PNM
Name[bg]=Данни за PNM
Name[br]=Titouroù PNM
Name[bs]=Podaci o PNM‑u
Name[ca]=Informació de PNM
Name[ca@valencia]=Informació de PNM
Name[cs]=PNM info
Name[cy]=Gybodaeth PNM
Name[da]=PNG-info
Name[de]=PNM-Info
Name[el]=Πληροφορίες PNM
Name[en_GB]=PNM Info
Name[eo]=PNM informo
Name[es]=Info PNM
Name[et]=PNM info
Name[eu]=PNM informazioa
Name[fa]=اطلاعات PNM
Name[fi]=PNM-tiedot
Name[fr]=Informations PNM
Name[ga]=Eolas faoi PNM
Name[gl]=Información de PNM
Name[he]=מידע PNM
Name[hi]=पीएनएम जानकारी
Name[hne]=पीएनवाम जानकारी
Name[hr]=PNM-informacije
Name[hu]=PNM-jellemzők
Name[ia]=Info de PNM
Name[is]=PNM upplýsingar
Name[it]=Informazioni PNM
Name[ja]=PNM 情報
Name[kk]=PNM мәліметі
Name[km]=ព័ត៌មាន PNM
Name[ko]=PNM 정보
Name[ku]=Agahiyên PNM
Name[lt]=PNM informacija
Name[lv]=PNM informācija
Name[mr]=PNM माहिती
Name[ms]=Maklumat PNM
Name[nb]=PNM-info
Name[nds]=PNM-Info
Name[ne]=PNM सूचना
Name[nl]=PNG-info
Name[nn]=PNM-info
Name[pa]=PNM ਜਾਣਕਾਰੀ
Name[pl]=Informacja o pliku PNM
Name[pt]=Informação do PNM
Name[pt_BR]=Informações sobre PNM
Name[ro]=Informații PNM
Name[ru]=Сведения о PNM
Name[se]=PNM-dieđut
Name[si]=PNM තොරතුරු
Name[sk]=PNM info
Name[sl]=Podatki o PNM
Name[sr]=Подаци о ПНМ‑у
Name[sr@ijekavian]=Подаци о ПНМ‑у
Name[sr@ijekavianlatin]=Podaci o PNM‑u
Name[sr@latin]=Podaci o PNM‑u
Name[sv]=PNM-information
Name[ta]=PNM தகவல்
Name[tg]=Иттилоот оиди PNM
Name[th]=ข้อมูลแฟ้ม PNM
Name[tr]=PNM Bilgileri
Name[ug]=PNM ئۇچۇرى
Name[uk]=Інформація щодо PNM
Name[uz]=PNM haqida maʼlumot
Name[uz@cyrillic]=PNM ҳақида маълумот
Name[vi]=Thông tin PNM
Name[wa]=Informåcion sol imådje PNM
Name[x-test]=xxPNM Infoxx
Name[zh_CN]=PNM 信息
Name[zh_HK]=PNM 資訊
Name[zh_TW]=PNM 資訊
X-KDE-ServiceTypes=KFilePlugin
X-KDE-Library=kfile_pnm
MimeType=image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;
PreferredGroups=General
PreferredItems=Format,Dimensions,BitDepth,Comment
