[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=EXR Info
Name[ar]=EXR معلومات
Name[br]=Titouroù EXR
Name[ca]=Informació EXR
Name[cs]=EXR info
Name[cy]=Gwybodaeth EXR
Name[da]=EXR-Info
Name[de]=EXR-Info
Name[el]=Πληροφορίες EXR
Name[es]=Info EXR
Name[et]=EXR info
Name[fi]=EXR-tiedot
Name[fr]=Informations EXR
Name[gl]=Inf. EXR
Name[he]=מידע EXR
Name[hu]=EXR-jellemzők
Name[is]=EXR upplýsingar
Name[it]=Informazioni EXR
Name[ja]=EXR情報
Name[nl]=EXR-info
Name[nn]=EXR-info
Name[pl]=Informacja EXR
Name[pt]=Informação do EXR
Name[pt_BR]=Informação sobre EXR
Name[ro]=Informaţii EXR
Name[ru]=Информация о EXR
Name[se]=EXR-dieđut
Name[sl]=Informacije o EXR
Name[sr]=EXR информације
Name[sr@Latn]=EXR informacije
Name[sv]=EXR-information
Name[ta]=EXR தகவல்
Name[tg]=Иттилоот оиди EXR
Name[tr]=EXR Bilgisi
Name[uk]=Інформація по EXR
Name[uz]=EXR ҳақида маълумот
Name[zh_CN]=EXR 信息
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_exr
MimeType=image/x-exr
PreferredGroups=Info,Standard,Channels,Technical,3dsMax
PreferredItems=Dimensions,Thumbnail,ThumbnailDimensions,Version,Comments,Owner,Latitude,Longitude,Altitude,Capture Date,UTC Offset
